.container {
  max-width: 80rem;
  padding-bottom: 7.5rem;
  padding-top: 7.5rem;
}

#home {
  background: #f4f5f6;
  position: relative;
  text-align: center;
}

.email-form {
  width: 32rem;
  margin: 3rem auto;
}

#ph-email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

#ph-email {
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  color: #000000;
}

.button.button-outline {
  color: black;
}

.button,
input[type="submit"].button-outline {
  border: 0.1rem solid black;
  color: black;
}

#ph-subscribe-button {
  margin-left: 10px;
  width: 14rem;
}
